<div class="container product-container py-3">
    <h3 class="title w-100 pb-2 mb-2">{{'Thanks for your order'|translate}}</h3>
     <div *ngIf="baseOrder||toppingOrder">

      <div class="row">
          <div class="col-sm-3 ">
            1-  {{'Your base choice'|translate}}
          </div>
          <div class="col-sm-9">
              <p>
                  {{baseOrder.name}}
              </p>
          </div>
     
      </div>
      <div class="row">
          <div class="col-sm-3 ">
            2-  {{'Your toppings choice'|translate}}
          </div>
          <div class="col-sm-9">
              <p *ngFor="let topping of toppingOrder">
                  {{topping.name|translate}}
              </p>
          </div>
     
      </div>
    </div>
      
  
  </div>